@charset "utf-8";

/*OVERALL*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.fa {
    color:rgba(91, 192, 222, 1);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    line-height: 1.8rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 1.1rem;
}

.pop-box > p {
    font-size: 1.3rem;
}

.pop-box1 > p {
    font-size: 2.5rem;
}

/* NAVIGATION BAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5bc0de;
    color: #333;
    border-bottom: solid 10px #333;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem .5rem .5rem 2rem;
}

.brand-title a {
    text-decoration: none;
    color: #333;
}

#logo {
    width: 300px;
    min-width: 150px;
}

#navbarLinks ul {
    margin: 0;
    margin-right: 2rem;
    padding: 0;
    display: flex;
}

#navbarLinks li {
    list-style: none;
}

#navbarLinks li a {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    display: block;
}

#navbarLinks li:hover {
    background-color: #333;
}

#navbarLinks li a:hover {
    color:rgba(91, 192, 222, 1)
}

.buttonOne {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 21px;
}

.buttonOne .bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 50px;
}

.active {
    font-weight: bold;
}

/* H-BG */
.h-bg-image-frame {
    position: relative;
}

.h-bg-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.h-bg-text {
    position: absolute;
    top: 40%;
    left: 1.5rem;
    transform: translate(-0%, -50%);
    max-width: 400px;
    padding: 1rem;
    background-color: rgba(91, 192, 222, 0.6);
    color: #333;
    margin-right: 1rem;
}

.h-bg-text h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.h-bg-text p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

/* INTRO SECTION*/
.intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-text {
    border-top: solid 20px #EEEEEE;
    border-left: solid 20px #333;
    font-size: 1.1rem;
    flex: 1 1 350px;
    padding: 2rem;  
    padding-top: 2rem;
}

.intro-values {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #EEEEEE;
    padding: 2rem;
}

.values {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    padding:.5rem 0;
}

.values p {
    text-align: left;
}

/* COURSES INTRO */
.courses-intro-container {
    border-top: solid 20px #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses-intro-container-col1 {
    font-size: 1.1rem;
    align-self: flex-start;
    flex: 1 1 350px;
    padding: 2rem; 
    border: solid 20px #EEEEEE;
}

.courses-intro-container-col1 h2 {
    font-size: 2rem;
}

.courses-intro-container-col2 {
    flex: 1 0 350px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(91, 192, 222, 1);
    background-color: #333;
}

.courses-intro-container-col2 p {
    padding: 2rem;
    max-width: 80%;
    line-height: 115%;
    text-align: left;
}

/* COURSES CARDS */
.courses-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: #EEEEEE;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-left: solid 20px #333;
    border-bottom: solid 20px #333;
}

.course-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.course-card p {
    width: 95%;
    font-size: 1.1rem;
    text-align: left;
}

.courses-button, .home-form-button {
    display: block;
    width: fit-content;
    padding: .5rem .8rem;
    border: 3px solid rgba(91, 192, 222, 1);
    margin-top: 15px;
    border-radius: 0.12em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    color: rgba(91, 192, 222, 1);
}

.courses-button:hover, .home-form-button:hover {
    background-color: #333;
}

/* TESTIMONIALS */

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.testimonials-container-col1 {
    font-size: 1.1rem;
    justify-content: center;
    flex: 1 1 350px;
    padding: 2rem; 
    background-color: #333;
    color: #5bc0de;
    display: grid;
    place-items: center;
    position: relative;
}

.testimonials-container-col1 p {
    font-size: 1.2rem;
    padding: 2rem;
    max-width: 90%;
    text-align: left;
    margin-bottom: 1rem;
}

.testimonials-container-col2 {
    flex: 1 0 350px;
    font-size: 2rem;
    font-weight: bold;
}

.quote1, .quote2 {
    font-size: 7rem;
    font-style: oblique;
    opacity: .6;
}

.quote1 {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.quote2 {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
}

.testimonial-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.testimonial-name {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem;
}

.break {
    width: 100%;
    height: 20px;
    background-color: #EEEEEE;
    border-top: solid 20px #333;
}

/* METHODOLOGY INTRO SECTION */
.method-intro-container {
    border-top: solid 20px #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.method-intro-container-col1 {
    font-size: 1.1rem;
    align-self: flex-start;
    flex: 1 1 350px;
    padding: 2rem; 
    border: solid 20px #EEEEEE;
}

.method-intro-container-col1 h2 {
    font-size: 2rem;
}

.method-intro-container-col2 {
    flex: 1 0 200px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(91, 192, 222, 1);
    background-color: #333;
}

.method-intro-container-col2 > a > i {
    margin-left: .5rem;
}

.method-intro-container-col2 p {
    padding: 1rem;
    max-width: 80%;
    line-height: 115%;
    text-align: left;
}

.method-intro-container-col2 a {
    text-decoration: none;
    color:rgba(91, 192, 222, 1);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.method-h2 {
    border-left: solid 20px #333;
    padding: 2rem;
    padding-bottom: 0;
    font-size: 2rem;
    background-color: #EEEEEE;
    margin: 0;
}

/* METHOD CARDS*/
.method-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: #EEEEEE;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-left: solid 20px #333;
    border-bottom: solid 20px #333;
    border-right: solid 20px #EEE;
}

.method-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.method-card p {

    font-size: 1.1rem;
    text-align: left;
}

/* METHOD VIDEOS */

.video-container-col2 {
    display: grid;
    place-items: center;
    background-color: #333;  
    height: 70vh; 
    padding-top: 2rem; 
}

.video-image {
    width: 70vw;
    height: 60vh;
}

.video-container-col1 {
    justify-content: center;
    padding: 2rem; 
    background-color: #333;
    color: #5bc0de;
    display: grid;
    place-items: center;
    position: relative;
}

.video-container-col1 p {
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 80%;
    text-align: center;
}

.video-button {
    display: block;
    width: fit-content;
    padding: .5rem .8rem;
    border: 3px solid rgba(91, 192, 222, 1);
    border-radius: 0.12em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    color: rgba(91, 192, 222, 1);
}

.video-button:hover {
    background-color: #EEE;
}

/* ABOUT */
.about-intro {
    padding: 2rem;
    border: 20px solid #333;
}

.about-grouping {
    display: flex;
    flex-wrap: wrap;
}

.about-sign-post-section {
    flex: 1 1 300px;
    border: 20px solid #EEE;
    text-align: center;
    padding: 2rem
}

.about-sign-post-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-sign-post-buttons a {
    flex: 0 1 100px;
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid 3px rgba(91, 192, 222, 1);
    color: rgba(91, 192, 222, 1);
    font-size: 1.1rem;
}

.about-sign-post-buttons a:hover {
    background-color: #333;
}

.about-intro-section-img {
    flex: 1 1 300px;
    padding: 1rem;
    position: relative;
    background-color: #333;
    display: grid;
    place-items: center;
}

.about-intro-section-img img {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.fin-details {
    position: absolute;
    left: 5%;
    bottom: 5%;
    background-color: rgba(91, 192, 222, .4);
    padding: 2rem;
    max-width: 70%;
}

.fin-details p {
    font-size: .9rem;
    margin: 0;
    text-align: left;
}

.fin-details span {
    font-weight: bold;
    font-size: 1.3rem;
}

/* FAQ COLLAPSIBLE CONTENT*/
.faq-question-section {
    border: solid 20px #333;
}

.faq-question-section > h2 {
    padding: 1.1rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
    background-color: #333;
    color:rgba(91, 192, 222, 1)
}

ul .inner {
    display: none;
}

.accordion > li {
    border-bottom: 1px solid black;
}

.faqbutton {
    background-color: #EEE;
    width: 100%;
    text-align: left;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.faq

.faqbutton:visited {
    color: black;
}

.fa-plus-circle {
    padding: .5rem;
    cursor: pointer;
}

.faqcontent {
    background-color: white;
    padding: 1rem;
    font-size: 1.1rem;
    overflow: hidden;
}

.faq-links {
    padding: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
    text-align: left;
}


/*CONTACT PAGE*/
#email {
    color:rgba(91, 192, 222, 1);
    font-weight: bold;
}

.twitter {
    color: rgba(91, 192, 222, 1);
}

.twitter > a {
    text-decoration: none;
    color:rgba(91, 192, 222, 1);
    font-weight: bold;
}

/* COURSES & SERVICES PAGE*/
/*COURSES SECTION*/
.courses-services-intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses-services-intro-text {
    flex: 1 1 200px;
    border: solid 20px #EEEEEE;
    padding: 2rem;
}

.courses-services-heading {
    background-color: #EEE;
    padding-left: 3rem;
    padding-bottom: .5rem;
}

 .coursetabs {
    display: flex;
    flex-wrap: wrap;
 }

 .coursetabs label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    cursor: pointer;
    background-color:#eee;
    border-bottom: 5px solid rgba(91, 192, 222, 1);
    width: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    transition: background ease 0.3s;
  }

  .coursetabs .coursetab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    background: #333;
    padding: 1rem;
    border: 5px solid rgba(91, 192, 222, 1);
    border-top: none;
  }
   
  .coursetabs input[type="radio"] {
    display: none;
  }
   
  .coursetabs input[type="radio"]:checked + label {
    background: #333;
    color:rgba(91, 192, 222, 1);
    border: 5px solid rgba(91, 192, 222, 1);
    border-bottom: none;
  }
   
  .coursetabs input[type="radio"]:checked + label + .coursetab {
    display: block;
  }
   

.courses-services-heading h2 {
    padding-top: 2rem;
}

.course-tab-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EEE;
    padding: 1rem;
}

.course-tab-inner {
    flex: 1 1 250px;
    padding: 1rem;
    background-color: #fff; 
    margin: 1rem;
}

.course-aim {
    font-style: oblique;
}

.lesson-head {
    margin-bottom: 0;
    font-weight: 600;
}

.lesson-description {
    font-size: .9rem;
    margin-bottom: 0;
}

.course-tab-inner > p {
    text-align: left;
}

/* COURSES & SERVICES PAGE*/
/*SERVICES SECTION*/

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EEE;
    padding: 1rem;
}

.service-inner {
    flex: 1 1 250px;
    padding: 1rem;
    background-color: #fff; 
    margin: 1rem;
}

.service-timeline {
    border-top: 3px dashed #5bc0de;
    padding: 30px;
    margin: 0;
    position: relative;
}

.service-timeline > p {
    text-align: left;
    font-size: .9rem;
}

.service-timeline:nth-child(odd) {
    border-left: 3px dashed #5bc0de;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
}

.service-timeline:nth-child(even) {
    border-right: 3px dashed #5bc0de;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
}

.service-timeline:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
  .service-timeline:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-left: none;
    border-right: none;
  }

.service-title {
    padding-bottom: 1rem;
}

.timeline-number {
    position: absolute;
    top: -15px;
    left: 0;
    padding: .5rem;
    background-color: #5bc0de;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
}

.timeline-number-extra {
    position: absolute;
    top: -15px;
    left: 0;
    padding: .5rem;
    background-color: #5bc0de;
    border-radius: 50%;
    height: 30px;
    width: 125px;
    display: grid;
    place-items: center;
}

.service-ul {
    margin-bottom: 1rem;
}

.service-ul li {
    padding-bottom: .5rem;
    font-size: .9rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(91, 192, 222, 1);
    min-height: 400px;
}

#logo-footer {
    width: 100px;
    margin-top: 1.5rem;
}

.footer-social {
    margin: 1.5rem;
}

.footer-links, .footer-social {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.footer-links li, .footer-social li {
    list-style: none;
    margin-top: .5rem;
    padding: .5rem;
    text-align: center;
}

.footer-links li a {
    text-decoration: none;
    color: #333;
   
}

.footer-social li i {
    color: #333;
    font-size: 40px;
}

footer span {
    color: #333;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}






/* MEDIA QUERIES */

@media (max-width: 720px) {

    /* H-BG */
    .h-bg-text {
        position: absolute;
        top: 3rem;
        left: 1rem;
        transform: translate(-0%, -0%);
        max-width: 350px;
        padding: 1rem;
        background-color: rgba(91, 192, 222, 0.4);
    }
    
    .h-bg-text h2 {
        font-size: 2rem;
        font-weight: 800;
    }
    
    .h-bg-text p {
        font-size: 1.5rem;
        font-weight: 300;
    }

/*INTRO SECTION*/
.intro-values {
    justify-content: left;
}

.values {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    margin: 0 0;
    padding-left: 2rem;
    padding-right: 1rem;
}

.values p {
    text-align: left;
}


/* METHOD VIDEO */

.video-container-col2 {
    height: 60vh; 
    padding-top: 1rem; 
}

.video-image {
    width: 90vw;
    height: 50vh;
}

.video-container-col1 p {
    max-width: 100%;
}

.method-container {
    display: block;
}


}

@media (max-width: 410px) {
#logo {
    max-width: 200px;
    min-width: 150px;
    margin-top: 1rem;
}
}

@media (max-width: 945px) {
        /* NAVIGATION BAR */
        .buttonOne {
            display: flex;
            margin-top: 1.6rem;
            margin-right: 1.6rem;
        }
    
        #navbarLinks {
           width: 100%;
        }
    
        .navbar {
            flex-direction: column;
            align-items: flex-start;
        }
    
        #navbarLinks ul {
            flex-direction: column;
        }
    
        #navbarLinks li {
            text-align: center;
        }
    
        #navbarLinks li a {
            padding: .5rem 1rem;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    
        .navbarContent {
            display: none;
            z-index: 1;
         }
    
         .show {
             display: block;
         }
}


@media (max-width: 700px) {


     .h-bg-text {
        top: 30%;
        left: 1rem;
        transform: translate(-0%, -50%);
        max-width: 400px;
        padding: 1rem;
        background-color: rgba(91, 192, 222, 0.4);
        color: #333;
    }
    
    .h-bg-text h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    
    .h-bg-text p {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
    }

     .testimonials-container-col1 {
         margin-bottom: 0;
         padding-bottom: 0;
     }

     .testimonials-container-col1 > p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    div.break {
        display: none;
    }

}

@media (max-width: 349px) {
   
    .h-bg-image {
        width: 100%;
        height: 65vh;
        object-fit: cover;
        display: block;
    }

    .h-bg-text {
        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translate(-0%, -50%);
        max-width: 250px;
        padding: .5rem;
    }

    .h-bg-text h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    .h-bg-text p {
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
    }

    .courses-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: .5rem;
        border: none;
    }

    .method-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: .5rem;
        border: none;
    }

    .courses-intro-container-col1, .courses-intro-container-col2, .testimonials-container-col1, .testimonials-container-col2 {
        flex: 1 1 200px;
        padding: 1rem;  
        border: none;
    }

    .footer-links, .footer-social {
        flex-direction: column;
        align-items: center;
        padding-top: .5rem;
    }

}
 