#form {
    display:block;
}

.form-container {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: black;
    text-align: left;
    background-color: white;
    padding: 2rem;
    padding-bottom: 10px;
    border-left: 20px solid #333;
    border-bottom: 20px solid #333;
    border-top: 20px solid #333;
    border-right: 20px solid #EEE;
    max-width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: .5rem .8rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    border: 3px solid rgba(91, 192, 222, 1);
    border-radius: 0.12em;
    outline: none;
}

.form-control:focus {
    border: 3px solid #333;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    font-family: 'Karla', sans-serif;
    height: auto;
}

label.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.button-form {
    width: 100%;
    padding: 1rem;
    border: 3px solid rgba(91, 192, 222, 1);
    border-radius: 0.12em;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    color: rgba(91, 192, 222, 1);
    background-color: #EEE;
    font-family: 'Karla', sans-serif;
}

.button-form:hover {
    background-color: #333;
    text-decoration: none;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}

@media (min-width: 1201px) {
    .form-container {
        font-size: 1.2rem;
        padding: 6rem;
        max-width: 100%;
    }

    .button-form {
        width: 100%;
        font-size: 1.3rem;
        padding: 1.5rem;
    }

}